main {
  background-color: #00062f;
  /* background: #00062f url("./../../pictures/pngwing.com.png") no-repeat; */
  /* background-blend-mode: lighten; */
  /* opacity: 30%; */
  margin-left: 23%;
  min-height: 100vh;
}

.home.head {
  padding: 50px;
}

.home.row {
  margin: 20px;
}

.home.col {
  margin: 30px;
}

.home.col.left {
  /* background-color: black; */
  text-align: center;
  float: left;
  color: #abc8c7;
  font-size: 35px;
  width: 50%;
}

.home.col.right {
  /* background-color: pink; */
  float: right;
}

.pic {
  height: 250px;
  /* float: right; */
  padding: 30px;
  /* margin-top: 110px; */
  /* margin-right: 20px; */
  border-style: outset;
  background-color: #0a193c;
  border-color: #8eb9ff;
}
