main {
  background-color: #00062f;
  /* background: #00062f url("./../../pictures/pngwing.com.png") no-repeat; */
  /* background-blend-mode: lighten; */
  /* opacity: 30%; */
  margin-left: 23%;
  min-height: 100vh;
}

.home-head {
  padding: 50px;
}

/* .row {
  background-color: black;
  margin: 20px;
} */

/* .col {
  margin: 30px;
} */

.pic {
  height: 250px;
  float: right;
  padding: 30px;
  margin-top: 110px;
  margin-right: 20px;
  border-style: outset;
  background-color: #0a193c;
  border-color: #8eb9ff;
}

div {
  text-align: center;
  color: #abc8c7;
  font-size: 28px;
}
