main {
    background-color: #092463;
    margin-left: 27%;
    min-height: 100vh;
}

/* main p {
    text-align: center;
    color: #8EB9FF;
    padding: 50px;
} */

.pic {
    height: 250px;
    float: right;
    padding: 30px;
    margin-top: 160px;
    margin-right: 20px;
    border-style: outset;
    background-color: #113F90;
    border-color: #8EB9FF;
}

notes {
    text-align: center;
    color: #8EB9FF;
    padding: 675px;
    font-size: 28px;
}